@import './reset.css';
@import './header.css';

.section-apresentation {
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* Frase */
.apresentation-text h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
    color: var(--color-blue);
}
/* Fim Frase */

/* Div Pesquisa */
.apresentation-search {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 30vh;
    height: fit-content;
    width: 100%;

    background-image: url(../img/bg-index.png);
    background-repeat: no-repeat;
    background-size: 100%;    
}
/* .apresentation-search img{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    object-fit: cover;
} */

/* Formulário / Barra de pesquisa */
.apresentation-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-user {
    position: absolute;
    width: 500px;
    height: 50px;
    border-radius: 100px;
    padding: 20px;
    border: none;

    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}
#search-button {
    position: relative;
    left: 205px;
    height: 40px;
    width: 80px;
    border-radius: 50px;
    border: none;
    background: var(--color-blue);

    font-size: 1rem;
    color: var(--color-white);
    font-weight: 600;
}

#search-button:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: var(--color-darkAqua);
}
/* Formulário / Barra de pesquisa */

/* div que mostra dados dos usuários retornados na pesquisa: */
.mostrar-paciente-buscado {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--color-white);
} 

.mostrar-paciente-buscado:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.4s ease-in-out;
}

.mostrar-paciente-buscado .area-id-paciente {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 700;
    padding: 10px;
    border-radius: 20px 20px 0 0;

}

.mostrar-paciente-buscado .conteudo-paciente-buscado {
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 70% 30%;
    gap: 5px;
}

.conteudo-paciente-buscado .dado-paciente-buscado {
    gap: 5px;
}

.conteudo-paciente-buscado .dado-paciente-buscado:first-child {
    grid-row: 1;
    grid-column: 1/3;
}

.dado-paciente-buscado {
    display: flex;
    flex-direction: row;
}

.dado-paciente-buscado label {
    font-weight: 700;
}

.pacientes-retornados {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}