@import "./reset.css";
@import "./header.css";

main {
    background-image: url(../img/bg-index.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5vh 10vw;
    height: 83vh;
}

.mainDiv {
    display: flex;
    height: 73vh;
}

.mainDiv .mainDiv-imgArea {
    background-color: var(--color-white); 
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.mainDiv-imgArea img {
    width: 70%;
}

.mainDiv .mainDiv-formArea {
    width: 50%;
    background-color: var(--color-lightBlue);
    padding: 2rem;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.mainDiv-formArea .title-form {
    color: var(--color-white);
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 10px;
    margin-top: 20px;
}

.mainDiv-formArea .mainDiv-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    align-items: center;
}

.mainDiv-form input {
    border: 0px none transparent;
    border-radius: 30px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    width: 100%;
}

.btn-submit-login {
    border: 0px none transparent;
    border-radius: 30px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 70%;
    margin-top: 30px;
}

.btn-submit-login:hover {
    cursor: pointer;
    background-color: var(--color-darkAqua);
    transition: 0.4s ease-in-out;
}