main {
    /* height: 85vh; */
    background-image: url(../img/bg-index.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px;
    height: 85vh;
}

header {
    display: flex;
    height: 15vh;
    background-color: var(--color-white);
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1;
}

header img {
    width: 64px;
    height: 64px;
}

header nav .ul-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

header nav .ul-nav li a {
    color: var(--color-black);
    padding: 15px;
    line-height: 23px;
    font-weight: 275;
}

header nav .ul-nav li a:hover {
    color: var(--color-orange);
}

.mainDiv {
    display: flex;
    height: 68vh;
    border-radius: 20px;
    margin: 5vh 5wh;
}

.mainDiv .mainDiv-imgArea {
    background-color: var(--color-white); 
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.mainDiv-imgArea img {
    width: 50%;
}

.mainDiv .mainDiv-formArea {
    width: 50%;
    background-color: var(--color-bgLightBlue-opacity);
    padding: 2rem;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.mainDiv-formArea .title-form {
    color: var(--color-white);
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 10px;
    margin-top: 20px;
}

.mainDiv-formArea .mainDiv-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    align-items: center;
}

.mainDiv-form input {
    border: 0px none transparent;
    border-radius: 30px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    width: 100%;
}

.btn-submit-login {
    border: 0px none transparent;
    border-radius: 30px;
    background-color: var(--color-mediumBlue);
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 70%;
    margin-top: 30px;
}

