@import "./reset.css";
@import "./header.css";

/* fundo: */
main {
  height: 83vh;
  background-image: url(../img/bg-index.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5vh 5vw;
}

/* Area principal: */

.mainDiv {
  display: flex;
  height: 100%;
  width: 100%;
}

/* inicio area de navegação (das guias de dados do paciente): */

.aside-dados-paciente {
  width: 25%;
  background-color: var(--color-bg-light-gray);
  border-radius: 20px 0 0 20px;
}

.aside-conteudo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    
}

.aside-dados-paciente .aside-title {
  background-color: var(--color-mediumAqua);
  color: var(--color-white);
  border-radius: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-weight: 700;
  line-height: 48px;
  font-size: 1.4rem;
}

.aside-dados-paciente .aside-nav-dados-paciente {
  display: flex;
  justify-content: center;
}

.aside-dados-paciente .aside-nav-dados-paciente ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.aside-dados-paciente .aside-nav-dados-paciente ul li {
  color: var(--color-black);
  font-size: 1.3rem;
  font-weight: 500;  
  padding: 0 20px;
  border-radius: 20px;
}

.aside-dados-paciente .aside-nav-dados-paciente ul li:hover {
    cursor: pointer;
    background-color: var(--color-light-gray);
    transition: 0.4s ease-in-out;
}

/* Detalhe abaixo da aba selecionada e aberta: */
.aba-selecionada::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 100px;
    background: var(--color-blue);
}

.aside-dados-paciente .aside-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.aside-dados-paciente .aside-buttons button {
    border: 0px none transparent;
    background-color: var(--color-mediumAqua);
    color: var(--color-white);
    border-radius: 50px;
    padding: 10px;
    width: 90%;
    font-weight: 700;
}

.aside-dados-paciente .aside-buttons button:hover {
    cursor: pointer;
    background-color: var(--color-blue);
    transition: 0.4s ease-in-out;
}
/* fim area de navegação*/

/* inicio area de mostra de dados */

/* inicio area pessoal */
.div-show-dados-paciente {
    background-color: var(--color-white);
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 100%;
}

/* dados pessoais: */
.div-show-dados-paciente .dados-pessoais-paciente {
    display: grid;
    height: 100%;
    padding: 20px 30px;    
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
}

.div-show-dados-paciente .dados-pessoais-paciente::-webkit-scrollbar {
    width: 10px;               /* width da barra de rolagem */
}

.div-show-dados-paciente .dados-pessoais-paciente::-webkit-scrollbar-thumb {
    background-color: var(--color-lightBlue-opacity);    /* cor do scroll */
    border-radius: 20px;       /* borda scroll */
    border: 3px solid var(--color-white);  
}

.dados-pessoais-paciente .area-caracteristicas-paciente {
    display: grid;
    grid-template-columns: 25% 65%;
    grid-gap: 20px;
}

.area-caracteristicas-paciente img {
    grid-column: 1;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    justify-self: center;
}

.area-caracteristicas-paciente .caracteristicas-paciente {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.caracteristicas-paciente .item-caracteristicas-paciente:first-child {
    grid-row: 1;
    grid-column: 1/4;
}

.caracteristicas-paciente .item-caracteristicas-paciente:first-child::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: var(--color-darkAqua);
    margin-bottom: 5px;
}

.caracteristicas-paciente .item-caracteristicas-paciente:last-child {
    grid-row: 5;
    grid-column: 1/4;
}

.div-show-dados-paciente label {
    font-weight: 600;
}

.div-show-dados-paciente span {
    font-weight: 300;
}
/* fim dados pessoais */

/* inicio contatos: */

.contatos-paciente {
    margin-top: 15px;
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.contatos-paciente .item-contatos-paciente:first-child {
    grid-row: 1;
}

.contatos-paciente .item-contatos-paciente:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.contatos-paciente .item-contatos-paciente:last-child {
    grid-row: 2;
    grid-column: 1/3;
}
/* fim contatos */

/* inicio alergias: */
.container-alergias-paciente {
    display: flex;
    margin: 10px 0;
    gap: 8px;
    align-items: center;
}

.container-alergias-paciente .title-alergias-paciente {
    background-color: var(--color-orange);
    border-radius: 20px;
    color: var(--color-white);
    font-weight: 600;
    padding: 5px 8px;
    letter-spacing: 1px;
}
/* fim alergias */

/* inicio observações: */
.observacoes-paciente .title-observacoes-paciente {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 20px;
    width: fit-content;
    padding: 5px 8px;
    font-weight: 500;
    margin-left: 8px;
    position: relative;
    
}

.observacoes-paciente .conteudo-observacoes-paciente {
    background-color: var(--color-blue-opacity);
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    font-weight: 300;
    margin-top: -10px;
}
/* fim observações */
/* fim area pessoal */

/* inicio area historico */
.div-show-dados-paciente .historico-paciente {
    height: 100%;
    padding: 20px 30px;   
}

.historico-paciente .container-historico {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px 0 0;
    overflow-y: scroll;

}
.historico-paciente .container-historico::-webkit-scrollbar {
    width: 10px;               /* width da barra de rolagem */
}

.historico-paciente .container-historico::-webkit-scrollbar-thumb {
    background-color: var(--color-lightBlue-opacity);    /* cor do scroll */
    border-radius: 20px;       /* borda scroll */
    border: 3px solid var(--color-white);  
}

.historico-paciente .item-historico {
    width: 100%;
    background-color: var(--color-bg-light-gray);
    border-radius: 20px;
}

.historico-paciente .item-historico  label {
    font-weight: 600;
}

.item-historico .area-title-consulta {
    display: flex;
    align-items: center;
    background-color: var(--color-lightBlue-opacity);
    border-radius: 20px;
    padding: 10px 20px;
    justify-content: space-between;
}

.item-historico .area-title-consulta h2 {
    color: var(--color-white);
}

.item-historico .conteudo-consulta {
    padding:10px;
}

.item-historico .conteudo-consulta .item-minimizado {
    height: 70px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.item-historico .conteudo-consulta .item-minimizado .area-label-consulta{
    display: flex;
    flex-direction: row;
    gap: 10px;
    grid-column: 1;    
}

.item-historico .conteudo-consulta .item-minimizado button {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--color-mediumAqua);
    color: var(--color-white);
    font-weight: 700;
    width: 120px;
    height:35px;
    border: 0 none transparent;
    border-radius: 7px;
    justify-self: end;
}

.item-historico .conteudo-consulta .item-maximizado {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.item-historico .conteudo-consulta .item-maximizado .area-label-consulta-textarea {
 margin-top: 5px;    
}

.item-maximizado .area-label-consulta-textarea .textarea-consulta {
    background-color: var(--color-lightBlue-opacity);
    padding: 10px;
    border-radius: 20px;
    font-weight: 400;
    margin-top: 5px;
}

.item-historico .conteudo-consulta .item-maximizado button {
    background-color: var(--color-red);
    grid-row: 4;
    color: var(--color-white);
    font-weight: 700;
    width: 120px;
    height:35px;
    border: 0 none transparent;
    border-radius: 7px;
    align-self:last baseline;
}

.div-show-dados-paciente button:hover {
    cursor: pointer;
    transition: .8s;
    filter: brightness(1.3);
}
/* fim area de historico */
/* fim area de mostra de dados */