@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", "Inter", "Fascinate", sans-serif;
  margin: 0;
  padding: 0;
}

body {
    scroll-behavior: smooth;
}

/* estilo barra de rolagem:  */
body::-webkit-scrollbar {
    width: 15px;               /* width da barra de rolagem */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-lightBlue);    /* cor do scroll */
    border-radius: 20px;       /* borda scroll */
    border: 3px solid var(--color-white);  
  }

a {
  text-decoration: none;
}
/* paleta de cores: */
:root {
  --color-lightBlue: #6bf5ff;
  --color-mediumAqua: #4cf2c0;
  --color-darkAqua: #00bffc;
  --color-orange: #ffc839;
  --color-red: #ff6262;
  --color-blue: #01b5c2;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #323232;
  --color-light-gray: #d9d9d9;
  --color-bg-light-gray: #f1f1f1;

  --color-blue-opacity: rgba(107, 245, 255, 0.37);
  --color-lightBlue-opacity: rgba(107, 245, 255, 0.66);
  --color-bgLightBlue-opacity: rgba(107, 245, 255, 0.51);
;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  